*{
    border: 0; margin: 0; box-sizing: border-box;
    color: white;
}
body{
    /* background-image: url("/images/background2.jpg"); */
    background-color: black;
    text-align: center;
}
#scoreh3{
    width: 200px;
    margin: 0 auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 90vh;
    width: 50vh;
    margin:  auto;
    color: white;
    background-color: blueviolet;
}
.grid div{
    background-color: blue;
}
.hidden{
    display: none;
}




