*{
    border: 0; margin: 0; box-sizing: border-box;
    color: white;
}
body{
    /* background-image: url("/images/background2.jpg"); */
    background-color: black;
    text-align: center;
}
#scoreh3{
    text-align: center;
    width: 250px;
    padding: 0;
    margin: 0 auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 80vh;
    width: 50vh;
    margin:  auto;
    color: white;
    background-color: blueviolet;
}
.grid div{
    background-color: blue;
}
.hidden{ 
    
    display: none;
}
#start-button{
    margin:auto ;
    top: -3rem;
}

#max_score_h3{
    margin: 0;
}


