@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Tiny5&display=swap');
*{box-sizing: border-box; margin: 0; padding: 0;}
body{
    font-family: "Tiny5", sans-serif;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    width: 100%;
}
h1{
    padding: 20px;
    background-color: #000237;
    color: #fff;
}
header img{
    width: 5%;
}
.nav ul{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: #dddd99;

}
li a{
    color: #000;
    text-decoration: none;
    gap: 200px;
    padding: 20px;
}
main{
    border: 8px solid silver;
    width: 100vw;
    height: 100vh;
    border: 5px solid silver;
    box-shadow: 0 0 10px 2px #505050;
}
.card{
}