@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Tiny5&display=swap');
*{box-sizing: border-box; margin: 0; padding: 0;}
body{
    font-family: "Tiny5", sans-serif;
    background-color: #000;
    height: 100%;
    width: 100%;
}
.contain{
    margin: 0 auto;
    margin-top: 25vh;
    max-width: 50%;
    
}
.nes-container{
    background-color: #fff9ef;
    margin: 0;
   
}
p{
    margin: 0;
}
/* p:hover{
    background-color: #000;
    color: #fff;
} */
h5{
    text-align: right;
}
h1{
    font-size: 60px;
    text-align: center;
    background: -webkit-linear-gradient(rgb(21, 21, 156), green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
html{
    cursor: none;
}